// Bulma
@import "node_modules/bulma/bulma.sass";

.container {
    max-width: 800px;
}
.footer {
    background-color: rgba(243, 243, 254, 0.25);
    border-top: 2px solid #F3F3FF;
    border-bottom: 2px solid #F3F3FF;
}

article {
    padding-bottom: 3rem;
}

a {
    color: #1976d2;
}